<!-- ###TEMPLATE_KEYWORD_LIST### begin -->
<ul class="tx-dgkeywordmenu-keywordList">
	<!-- ###KEYWORDS### begin -->
	<li class="tx-dgkeywordmenu-keywordListItem">###KEYWORD###</li>
	<!-- ###KEYWORDS### end -->
</ul>
<!-- ###TEMPLATE_KEYWORD_LIST### end -->



<!-- ###TEMPLATE_MENU### begin -->
<div>Alle Themen von A-Z</div>
<ul class="tx-dgkeywordmenu-menuList">
	<!-- ###LETTERS### begin -->
	<li class="tx-dgkeywordmenu-menuListItem">###LETTER###</li>
	<!-- ###LETTERS### end -->
</ul>
<!-- ###TEMPLATE_MENU### end -->